/* Reset CSS */

/* Selector universal para aplicar estilos a todos los elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aplicar un estilo minimo al cuerpo del documento */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Establecer una fuente generica para el cuerpo */
}

/* Corregir estilos para los elementos de lista */
ul, ol {
    list-style: none; /* Eliminar los estilos de vinetas/numeros en listas */
}

/* Establecer estilos basicos para los elementos de textos */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Establecer estilos basicos para los enlaces */
a {
    text-decoration: none; /* Eliminar el subrayado predeterminado de los enlaces */
    color: inherit; /* Heredar el color del texto del elemento padre */
}

/* Establecer estilos basicos para las imagenes */
img{
    max-width: 100%; /* Hacer que las imagenes sean responsivas dentro de su contenedor */
    height: auto;
}